/* color palette from <https://github.com/vuejs/theme> + custom */
:root {
  --vt-c-white: #ffffff;
  --vt-c-black: #181818;

  --color-gray-600: #9e9c9c;
  --color-gray-400: #6b6a6a;
  --color-gray-350: #5a5757;
  --color-gray-250: #414141;
  --color-gray-050: #0b0b0b;

  --color-white: var(--vt-c-white);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-text: var(--vt-c-text-light-1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
